.top{
    color: red;
    justify-content: center ;
    align-items: center;
    margin-left: 570px;
    font-size: larger;
    border-top-left-radius: 40px;
    align-items: center;
    margin-bottom: 100px;
}
.lao{

    align-items: center;
}